<h2>새로운 학생 정보 수정</h2>
<form action="{% url 'update' edit.id %}" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="이름" name="name" id="name" value="{{student.name}}" /> 
    <br />

    <input type="text" placeholder="학과" name="major" id="major" value="{{student.major}}" /> 
    <br />

    <input type="text" placeholder="학번" name="number" id="number" value="{{student.number}}" /> 
    <br />

    <input type="text" placeholder="입학 년도" name="year" id="year" value="{{student.year}}" /> 
    <br />
    
    <input type="text" placeholder="학년" name="level" id="level" value="{{student.level}}" /> 
    <br />
    
    <input type="text" placeholder="평균 학점" name="average" id="average" value="{{student.average}}" /> 
    <br />
            
    <input type="hidden" name="hid" value="hid" /> <br />

    <button type="submit">저장하기</button>
</form>

<a href="{% url 'index' %}">홈으로</a>